*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    line-height: 30px;
    font-family: "Poor Richard";
    background: linear-gradient(to right, #00ff00, #0000ff);
}
.form-body{
    width: 30%;
    background-color: #f8f8f8;
    padding: 15px 18px;
    border-radius: 4px;
    box-shadow: 8px 8px 10px rgba(9, 9, 9, .6);
}
h1{
    padding-top: 12px;
    padding-bottom: 20px;
    margin: 50px 0px;
    margin-top: 30px;
    font-size: 3rem;
    text-align: center;
    font-weight: bolder;
    color: #373737;
}
.form-group{
    margin: 8px 0px;
    padding: 5px 0px;
}
.form-input{
    width: 100%;
    font-size: 1.5rem;
    font-family: cursive;
    padding: 8px 6px;
    box-sizing: border-box;
    color: #373737;
    background-color: transparent;
    outline: none;
    border-radius: 3px;
    border: none;
}
.holder{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.form-input:focus{
    border: none;
    outline: none;
}
.form-group:not(:last-of-type){
    margin: 30px 0px;
}
.form-group:last-of-type{
    text-align: center;
}
button, .goto{
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    color: #f7f7f7;
    background-color: #373737;
    font-weight: bold;
    cursor: pointer;
}

button:active{
    outline: none;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex input{
    width: 70%;
}
#message{
    margin: 6px 0px;
    padding-left: 13px;
    background-color: mediumspringgreen;
}
footer{
    position: fixed;
    padding: 6px 12px;
    right: -80px;
    bottom: 100px;
    background-color: #f4f4f4;
    transform: rotate(90deg);
    font-size: 1rem;
    margin: 0;
}
.goto{
    position: absolute;
    top: 35px;
    left: 20px;
    text-decoration: none;
    font-family: 'segoe ui';
    background-color: #491358;
}
@media (max-width: 992px){
    .form-body{
        width: 50%;
        background-color: #f8f8f8;
    }
}

@media (max-width: 762px){
    .form-body{
        width: 70%;
        background-color: #f8f8f8;
    }
}